<html>

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {
            $scope.user = {}
                //Create New User
            $scope.createUser = function() {
                var selectedItem = $('#inputState').val();
                $scope.user.region = selectedItem;
                // debugger;
                alert(selectedItem);
                $http({
                    method: "POST",
                    url: "api/signup",
                    data: $scope.user
                }).then(function mySuccess(response) {
                    $scope.myWelcome = response.data;
                }, function myError(response) {
                    $scope.myWelcome = response.statusText;
                });
            }
        });
        $(document).ready(function() {
            $('#inputState').selectpicker();
        });
    </script>
</head>

<body>
    <div class="container" ng-app="myApp" ng-controller="myCtrl">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">Sign up</h4>
                    </header>
                    <article class="card-body">
                        <form ng-submit="createUser()">
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>user name </label>
                                    <input type="text" class="form-control" ng-model="user.username" placeholder="">
                                </div>
                                <!-- form-group end.// -->
                            </div>
                            <!-- form-row end.// -->
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" ng-model="user.emailID" placeholder="">
                            </div>
                            <!-- form-group end.// -->
                            <div class="form-row">
                                <div class="form-group col">
                                    <label>Region</label>
                                    <select id="inputState" class="form-control" multiple data-live-search="true">
                                  <option> Choose Regions</option>
                                  <option>AP</option>
                                  <option>LA</option>
                                  <option selected="">EMEA</option>
                                  <option>NA</option>                                  
                               </select>
                                </div>
                                <!-- form-group end.// -->
                            </div>
                            <!-- form-row.// -->
                            <div class="form-group">
                                <label>Create password</label>
                                <input class="form-control" type="password" ng-model="user.password">
                            </div>
                            <!-- form-group end.// -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Register  </button>
                            </div>
                            <!-- form-group// -->
                        </form>
                    </article>
                    <!-- card-body end .// -->
                </div>
                <!-- card.// -->
            </div>
            <!-- col.//-->
        </div>
    </div>
</body>

</html>