<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lenovo</title>

        <!-- Bootstrap is NOT required, it's just here to make the demo look better -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

        <!-- Include AngularJS -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>
        <!-- Include the ngReCaptcha directive -->
        <script src="./angular-recaptcha.js"></script>

        <!-- define your app and make it depend on vcRecaptcha module -->
        <script src="./login.js"> </script>

    </head>
    <body>
    <div class="container" ng-app="testApp" ng-controller="recapCtrl as recap">

        <h1>Lenovo GAO</h1>
        <!-- Call a method in the scope of your controller to handle data submit -->
        <form name="recap.signupForm" ng-submit="recap.submit()">
                    <div class="form-group">
                        <label>User name</label>
                        <input type="text" class="form-control" ng-model="recap.username" placeholder="Enter Username" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" ng-model="recap.password" placeholder="Password" required>
                    </div>
            <div
                vc-recaptcha
                theme="'light'"
                key="'6LeO18QUAAAAAAnalqg01Q4QTT5NrSVwyhFbJlb5'"
                on-create="recap.setWidgetId(widgetId)"
                on-success="recap.setResponse(response)"
                on-expire="recap.cbExpiration()"
            ></div>
            <button class="btn" type="submit">Submit</button>
        </form>
        <div ng-if="errorDetails.success">{{errorDetails.message}}</div>
    </div>
    </body>
</html>
